<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ATS Job, Candidate , Note">
    
    <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
       <listener class-name="com.w2a.listeners.CustomListeners"/>
  </listeners>
    
    
	<test name="Login Test">
		<classes>
			<class name="com.w2a.testcases.LoginTest" />
		</classes>
	</test> <!-- Test -->

	<test name="Add Candidate Test">
		<classes>
			<class name="com.w2a.testcases.AddCandidateTest" />
		</classes>
	</test> <!-- Test -->	
														
	<test name="Add Job Test">
		<classes>
			<class name="com.w2a.testcases.AddJobTest" />
		</classes>
	</test> <!-- Test -->
	

	<test name="Add Note Test">
		<classes>
			<class name="com.w2a.testcases.AddNoteTest" />
		</classes>
	</test> <!-- Test -->	
	

</suite> <!-- Suite -->
